*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    height: 100vh;
    width: 100%;
}

.white{
    color: white;
}

.bec_white:hover{
    color: white;
    cursor: pointer;
}

/* MAIN */


main{
    height: calc(100vh - 100px);
    font-weight: 700;
}

/* left nav */
.left_nav{
    float: left;
    height:100%;
    width: 300px;
    background-color: black;
    overflow: hidden;
}

.container_nav{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left_nav .main_menu .hidden{
    display: none;
}

.container_nav .main_menu ul li,.container_nav .pre_list,.container_nav .playlists h4,.container_nav .playlists .add_playlist,.container_nav .playlists .ov,.container_nav .user *{
    margin-left: 20px;
}

.left_nav .green_choice{
    margin-left: 0 !important;
    border-left: 2px solid greenyellow;
}

.container_nav .pre_list{
    margin-top: 20px;
}

.left_nav .main_menu .chosen{
    margin-left: 18px;
}

.container_nav .playlists{
    flex-grow: 1;
    overflow-y: auto;
}

.left_nav ul{
    list-style: none;
}

.left_nav ul li{
    margin-top: 20px;
}

.left_nav li .main_logo{
    height: 50px;
}

.left_nav .main_command{
    height: 30px;
    vertical-align: middle;
}

.left_nav .add{
    display: inline-block;
    background-color: gray;
    color: black;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.left_nav .playlists h4{
    margin-top: 20px;
}

.left_nav .add_playlist:hover .add{
    background-color: white;
}

.container_nav .user img{
    height: 20px;
}

.container_nav .line{
    height: 2px;
    background-color: gray;
    width: 90%;
    margin: 10px auto 10px;
}

.container_nav .user img{
    vertical-align: middle;
}

.container_nav .user .bec_white{
    font-size: 12px;
}

.container_nav .user .pic{
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    width: 30px;
}

.left_nav .user{
    margin-bottom: 10px;
}

@media screen and (max-width:600px) {
    .left_nav span{
        display: none;
    }

    .left_nav .pre_list,.left_nav .playlists{
        display: none;
    }

    .left_nav{
        width: 80px;
    }

    .container_nav{
        justify-content: space-between;
    }

    .container_nav .main_menu .main_logo{
        display: none;
    }

    .container_nav .main_menu .hidden{
        display: inline-block;
        height: 30px;
    }

    .container_nav .line{
        display: none;
    }
}

/* main page */



.main_page{
    position: relative;
    float: right;
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 300px);
    background-color: #141922;
}

.ad{
    display: inline-block;
    width: calc(100% - 300px);
    height: 100px;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: right;
    z-index: 2;
}

.ad a{
    line-height: 100px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 10px;
}

.ad a:hover{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 30px;
}
.main_page .nav{
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.main_page .nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px 0;
}

.under_line{
    margin: auto;
    width: 50px; 
    height: 2px;
    background-color: greenyellow;       
}

.recent,.for_you,.artists{
    padding-left: 20px;
}

.recent h3,.for_you h3,.artists h3{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}

.content{
    display: flex;
}

.box h5,.box h6{
    margin:20px 0 10px;
}

.box img{
    display: block;
    width: 100%;
    height: auto;
}

.box{
    width: calc(100% / 6);
    display: inline-block;
    padding:  0 10px;
}

.img_box{
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.img_box:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

.img_box:hover img{
    filter: opacity(0.3);
}

.img_box i{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h5{
    font-size: 18px;
}

.box h6{
    font-size: 14px;
}

.box h5,.box h6{
    text-align: center;
}

.for_you span,.artists span{
    display: inline-block;
    padding-bottom: 30px;
}

.artists .img_box{
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width:1100px ) {
    .content{
        flex-wrap: wrap;
    }
    
    .box{
        width: calc(100% / 4);
    }
}

@media screen and (max-width:700px){
    .content{
        flex-wrap: wrap;
    }

    .box{
        width: calc(100% / 2);
    }
}

@media screen and (max-width:600px) {
    .content{
        flex-wrap: wrap;
    }

    .box{
        width: calc(100% / 2);
    }
    
    .main_page{
        width: calc(100% - 80px);
    }

    .ad{
        width: calc(100% - 80px);
    }
}

/* FOOTER */
footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    color: gray;
    justify-content: space-between;
    align-items: center;
}

footer *{
    margin: 5px;
}

/* LEFT */

.playing{
    display: flex;
    align-items: center;
}

.playing img{
    height: 50px;
}

.playing .song_info, .playing .song_fav{
    display: inline-block;
}

.playing h6:hover{
    text-decoration: underline;
}

/* CENTER */
.player .linear_complete{
    display: inline-block;
    width: 30vw;
}

.player .top,.player .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .top i{
   font-size: 20px;
}

.player .top .fa-play-circle{
    font-size: 30px;
}

.player .top .fa-play-circle:hover{
    transform: scale(1.5);
}

.player .circle{
    left: 20%;
}

.player .time{
    color: white;
}

/* RIGHT */
.vol_ecc{
    display: flex;
    align-items: center;
}

.vol_ecc i:hover{
    color: white;
    cursor: pointer;
}

.linear_complete{
    position: relative;
    margin: 0;
    width: 10vw;
    height: 4px;
    background-color: gray;
    margin-right: 20px;
    border-radius: 20px;
}

.linear_complete:hover{
    cursor: pointer;
}

.linear_complete:hover .linear_selector{
    background-color: lightgreen;
}

.linear_complete:hover .circle{
    display: inline-block;
}

.linear_selector{
    margin: 0;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
}

.circle{
    display: none;
    position: relative;
    bottom: 12px;
    left: 20%;
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

@media screen and (max-width: 700px) {
    .vol_ecc .linear_complete{
        width: 5vw;
    }
}

@media screen and (max-width: 600px) {
    .player .linear_complete{
        width:10vw;
    }

    footer{
        font-size: 10px;
    }

    .player .top i{
        font-size: 10px;
    }

    .player .top .fa-play-circle{
        font-size: 15px;
    }

    footer *{
        margin: 2px;
    }
}